# Generals
mql/
*.ex5
*.mq5
*.mqh
*.set
*.json
*.csv
*.cpython-311.pyc
*.ttf
*.txt
!OpenSans-SemiBold.ttf
!OpenSans-Regular.ttf
Pipfile
Pipfile.lock
requirements.txt

# Data

# Assets

# Files

# Source

# Tests 

# Utils
